@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "bootstrap/scss/bootstrap";

//login/registration page background
@import './partials/dashboard.scss';


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@500&display=swap');

.font_family {
  font-family: 'Poppins', sans-serif;
}

.scene {
  transform: perspective(1000px) rotateY(-30deg);
}

// ant tab style change
.ant-tabs-tab {
  color: #5A5A5A;
  font-weight: 500 !important;
  font-size: 16px !important;
  margin-left: 40px !important;
}

.ant-tabs-tab:hover {
  color: #FFA525 !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #FFA525 !important;
}

.ant-tabs-ink-bar {
  background: #FFA525 !important;
}
